@use "variables" as *;
@use "typography" as *;
@use "mixins" as*;

* {
  box-sizing: border-box;
  margin:0;
  font-family: 'AvenirNextLTPro';
  font-weight: normal;
}


.nav {
  background-color: $bandsite-black;
  width: 100%;

  @include tablet {
    display:flex;
    padding: 1.2rem 2rem 0 2rem;
    align-content: center;
  }
  
  &__logo a {
    color: $white;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    
    h3 {
      padding-top: $mobile-padding-between-content;

      @include tablet{
        padding:0 3.5rem 1.2rem 0;
        padding-left: 5rem;
      }
    }
  }
  
  &__element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;

    @include tablet {
      gap:3rem;
    } 
    
    a {
      text-align: center;
      color: $white;
      text-decoration: none;
      position: relative;
      
      &.active::after,
      &:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50vw;
        height: 0.125rem;
        background-color: $white;

        @include tablet{
          left: 2.5rem;
          width: 100%;
          height: 0.2rem;
        }
      }
    }
    
    h4 {
      font-size: 0.8rem;
      padding-bottom: 0.5rem;
      color:$silver;

      &.active,
      &:hover{
        color:$white;
        font-weight: $font-weight-dami;
      }

      @include tablet {
        font-size:1rem;
        padding-top: 0.2rem;
        padding-bottom: 0;
      } 
    }
  }
}


.footer{
  width:100%;
  background-color: $bandsite-black;
  padding:$mobile-padding-height $mobile-padding-width;
  color:$white;

  &__social{
    h2{
      font-weight:$font-weight-dami;
      padding-bottom: $mobile-padding-height;
    }
    &--icon{
      display:flex;
      gap:10vw;
      margin-bottom: $mobile-padding-height;
    }
  }

  &__subtitle{
    font-size: 0.8rem;

    h4{
      font-weight:$font-weight-dami;
      padding:$mobile-padding-between-content 0;
    }

    &--email{
      padding:$mobile-padding-between-content 0;
    }
  }

  &__logo{
    @extend .nav__logo;
    padding:$mobile-padding-height 0 $mobile-padding-between-content 0;
  }

  &__copyright{
    font-size:0.7rem;
  }
}