@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin buttonStyle {
  width: 100%;
  height: 13vw;
  color: $white;
  font-size: 1rem;
  background-color: $bandsite-black;
  font-weight: $font-weight-dami;
  border-radius: 0.25rem;
  margin: $mobile-padding-between-content 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 10rem;
    height: 2.3rem;
    position: absolute;
    right: 0;
  }

  @include desktop() {
    width: 10.5rem;
    height: 2.8rem;
  }
}

@mixin separatorStyle {
  border: 0.0063rem solid $mercury;
  margin-bottom: $mobile-padding-between-content;

  @include desktop {
    margin: 0 10vw;
  }
}
