$tablet-breakpoint: 20rem;
$desktop-breakpoint: 120rem;

$bandsite-black:#323232;
$silver:#AFAFAF;
$white:#FFFFFF;
$bandsite-dark-black:#000000;
$mercury:#E1E1E1;
$alabaster:#FAFAFA;

$hero-background-img: '../../assets/images/hero-bio.jpg';
