$tablet-breakpoint: 20rem;
$desktop-breakpoint: 120rem;

$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffffff;
$bandsite-dark-black: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$bio-hero-background-img: "../../assets/images/hero-bio.jpg";
$show-hero-background-img: "../../assets/images/hero-shows.jpg";

$mobile-padding-width: 1rem;
$mobile-padding-height: 1.5rem;
$mobile-padding-between-content: 1rem;

$tab-padding-width: 2.25rem;
$tab-padding-height: 3rem;
$tab-padding-between-content: 2.25rem;

$dek-padding-width: 10rem;

$font-weight-dami: 600;
