@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/AvenirNextLTPro.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "AvenirNextLTPro";
  font-weight: normal;
}

.nav {
  background-color: #323232;
  width: 100%;
}
@media screen and (min-width: 20rem) {
  .nav {
    display: flex;
    padding: 1.5rem 2rem 0 2rem;
    align-content: center;
  }
}
@media screen and (min-width: 120rem) {
  .nav {
    padding: 3rem 10rem 0 10rem;
  }
}
.nav__logo a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
}
.nav__logo a h3 {
  padding: 1rem 0 0.5rem 0;
}
@media screen and (min-width: 20rem) {
  .nav__logo a h3 {
    padding: 0 3.5rem 1.2rem 0;
  }
}
@media screen and (min-width: 120rem) {
  .nav__logo a h3 {
    font-size: 2.3rem;
    padding-bottom: 2rem;
  }
}
.nav__element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
@media screen and (min-width: 20rem) {
  .nav__element {
    gap: 3rem;
  }
}
.nav__element a {
  text-align: center;
  text-decoration: none;
  position: relative;
}
.nav__element a.active::after, .nav__element a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 0.125rem;
  background-color: #FFFFFF;
}
@media screen and (min-width: 20rem) {
  .nav__element a.active::after, .nav__element a:hover::after {
    width: 5rem;
    left: 52%;
    height: 0.2rem;
  }
}
@media screen and (min-width: 120rem) {
  .nav__element a.active::after, .nav__element a:hover::after {
    bottom: 0;
    width: 5rem;
    left: 52%;
    height: 0.4rem;
  }
}
.nav__element h4 {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  color: #AFAFAF;
}
.nav__element h4.active, .nav__element h4:hover {
  color: #FFFFFF;
  font-weight: 600;
}
@media screen and (min-width: 20rem) {
  .nav__element h4 {
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 120rem) {
  .nav__element h4 {
    font-size: 1.3rem;
    padding-top: 0.5rem;
  }
}

.footer {
  width: 100%;
  background-color: #323232;
  padding: 1.5rem 1rem;
  color: #FFFFFF;
}
@media screen and (min-width: 20rem) {
  .footer {
    padding: 3rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 120rem) {
  .footer {
    padding: 3rem 10rem;
  }
}
@media screen and (min-width: 20rem) {
  .footer__social {
    display: flex;
    align-items: center;
    gap: 4vw;
  }
}
.footer__social img {
  height: 1.5rem;
}
@media screen and (min-width: 120rem) {
  .footer__social img {
    height: 2.3rem;
  }
}
.footer__social h2 {
  font-weight: 600;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 20rem) {
  .footer__social h2 {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 120rem) {
  .footer__social h2 {
    font-size: 3.5rem;
  }
}
.footer__social--icon {
  display: flex;
  gap: 10vw;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 20rem) {
  .footer__social--icon {
    gap: 5vw;
  }
}
@media screen and (min-width: 120rem) {
  .footer__social--icon {
    gap: 2.2vw;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 20rem) {
  .footer__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 120rem) {
  .footer__flex-container {
    justify-content: flex-start;
    gap: 5vw;
  }
}
.footer__subtitle {
  font-size: 0.8rem;
}
.footer__subtitle h4 {
  font-weight: 600;
  padding: 1rem 0;
}
@media screen and (min-width: 20rem) {
  .footer__subtitle h4 {
    font-size: 0.9rem;
    padding: 2.25rem 0;
  }
}
@media screen and (min-width: 120rem) {
  .footer__subtitle h4 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 20rem) {
  .footer__subtitle p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 120rem) {
  .footer__subtitle p {
    font-size: 1.3rem;
  }
}
.footer__subtitle--email {
  padding: 1rem 0;
}
@media screen and (min-width: 20rem) {
  .footer__subtitle--email {
    font-size: 0.9rem;
    padding: 2.25rem 0;
  }
}
.footer__logo {
  font-size: 1.3rem;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 20rem) {
  .footer__logo {
    position: absolute;
    top: 3rem;
    right: 2.25rem;
    padding: 0;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 120rem) {
  .footer__logo {
    font-size: 2.3rem;
    padding-bottom: 2rem;
    right: 10rem;
  }
}
.footer__copyright {
  font-size: 0.7rem;
}
@media screen and (min-width: 20rem) {
  .footer__copyright {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 120rem) {
  .footer__copyright {
    font-size: 1.3rem;
    margin: 3rem 0;
  }
}

.hero {
  background-image: url("../../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vw;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: -1;
}
@media screen and (min-width: 20rem) {
  .hero {
    height: 60vw;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 120rem) {
  .hero {
    height: 60vw;
    background-position: top;
  }
}
.hero h1 {
  color: #FFFFFF;
  padding-left: 1rem;
  font-weight: 600;
}
@media screen and (min-width: 20rem) {
  .hero h1 {
    font-size: 3.8rem;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 120rem) {
  .hero h1 {
    font-size: 6.5rem;
    padding-left: 10rem;
  }
}

.bio {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0 1rem;
}
@media screen and (min-width: 20rem) {
  .bio {
    padding: 2.25rem;
  }
}
@media screen and (min-width: 120rem) {
  .bio {
    padding: 2.25rem 10rem;
    margin-bottom: 1.5rem;
  }
}
.bio__img {
  padding: 1rem 0;
  overflow: hidden;
}
.bio__img img {
  width: 100%;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 20rem) {
  .bio__img img {
    aspect-ratio: 16/9;
    padding: 2.25rem 3.7rem;
  }
}
@media screen and (min-width: 120rem) {
  .bio__img img {
    padding: 2.25rem 8rem;
  }
}
@media screen and (min-width: 20rem) {
  .bio__content-wrap {
    padding: 0 3.7rem;
  }
}
@media screen and (min-width: 120rem) {
  .bio__content-wrap {
    padding: 0 8rem;
  }
}
.bio h2 {
  font-weight: 600;
}
@media screen and (min-width: 20rem) {
  .bio h2 {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 120rem) {
  .bio h2 {
    font-size: 3.5rem;
  }
}
.bio__quote--content, .bio__quote--from {
  font-weight: 600;
  font-size: 0.85rem;
  text-align: justify;
  line-height: 1.5rem;
}
@media screen and (min-width: 20rem) {
  .bio__quote--content, .bio__quote--from {
    font-size: 1.5rem;
    line-height: 2rem;
    word-spacing: 0.075rem;
  }
}
@media screen and (min-width: 120rem) {
  .bio__quote--content, .bio__quote--from {
    font-size: 2rem;
    line-height: 3rem;
    padding-right: 20vw;
  }
}
.bio__quote--from {
  padding-top: 0.3rem;
}
@media screen and (min-width: 20rem) {
  .bio__quote--from {
    font-size: 1rem;
  }
}
@media screen and (min-width: 120rem) {
  .bio__quote--from {
    font-size: 1.5rem;
  }
}
.bio__intro h5 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
@media screen and (min-width: 20rem) {
  .bio__intro h5 {
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 120rem) {
  .bio__intro h5 {
    font-size: 2.5rem;
  }
}
.bio__intro p {
  font-size: 0.84rem;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.2rem;
}
@media screen and (min-width: 20rem) {
  .bio__intro p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 120rem) {
  .bio__intro p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 20rem) {
  .bio__intro--wrap {
    display: flex;
    gap: 2rem;
    text-align: justify;
  }
}
@media screen and (min-width: 120rem) {
  .bio__intro--wrap {
    justify-content: left;
    padding-right: 10rem;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
  padding: 1.5rem 1rem 0 1rem;
}
@media screen and (min-width: 20rem) {
  .photo-gallery {
    padding: 3rem 2.25rem;
  }
}
@media screen and (min-width: 120rem) {
  .photo-gallery {
    padding: 3rem 10rem;
  }
}
.photo-gallery h2 {
  padding-top: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
}
@media screen and (min-width: 20rem) {
  .photo-gallery h2 {
    font-size: 2.3rem;
    font-weight: 600;
    padding-top: 0;
  }
}
@media screen and (min-width: 120rem) {
  .photo-gallery h2 {
    font-size: 3.5rem;
  }
}
.photo-gallery img {
  width: 100%;
  padding: 0.3rem 0;
}
@media screen and (min-width: 20rem) {
  .photo-gallery img {
    width: 27vw;
    padding: 0;
  }
}
@media screen and (min-width: 120rem) {
  .photo-gallery img {
    width: 27vw;
  }
}
@media screen and (min-width: 20rem) {
  .photo-gallery__wrap {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 120rem) {
  .photo-gallery__wrap {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.comment {
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 20rem) {
  .comment {
    padding: 3rem 2.25rem;
    margin-bottom: 1rem;
  }
}
.comment h2 {
  font-weight: 600;
  padding-bottom: 0.2rem;
}
@media screen and (min-width: 20rem) {
  .comment h2 {
    font-size: 2.5rem;
  }
}
.comment__form {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 20rem) {
  .comment__form {
    padding: 3vw 10vw;
  }
}
.comment__avatar {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-size: cover;
  flex: 0 0 auto;
  margin-right: 1rem;
  margin-top: 2rem;
}
@media screen and (min-width: 20rem) {
  .comment__avatar {
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
  }
}
.comment__input {
  flex: 1;
  margin-top: 0.6rem;
}
@media screen and (min-width: 20rem) {
  .comment__input {
    position: relative;
  }
}
.comment label {
  font-size: 0.7rem;
  color: #AFAFAF;
}
@media screen and (min-width: 20rem) {
  .comment label {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
.comment #nameId {
  width: 100%;
  background-color: #FAFAFA;
  border: 0.1rem solid #E1E1E1;
  border-radius: 0.3rem;
  padding: 0.625rem;
}
@media screen and (min-width: 20rem) {
  .comment #nameId {
    height: 3.5rem;
  }
}
.comment #nameId::-moz-placeholder {
  color: #000000;
}
.comment #nameId::placeholder {
  color: #000000;
}
@media screen and (min-width: 20rem) {
  .comment #nameId::-moz-placeholder {
    padding-left: 0.5rem;
  }
  .comment #nameId::placeholder {
    padding-left: 0.5rem;
  }
}
.comment #commentId {
  width: 100%;
  height: 30vw;
  background-color: #FAFAFA;
  border: 0.1rem solid #E1E1E1;
  border-radius: 0.3rem;
}
@media screen and (min-width: 20rem) {
  .comment #commentId {
    height: 6rem;
  }
}
.comment #commentId::-moz-placeholder {
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem;
}
.comment #commentId::placeholder {
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem;
}
@media screen and (min-width: 20rem) {
  .comment #commentId::-moz-placeholder {
    top: 0.5rem;
    left: 0.5rem;
  }
  .comment #commentId::placeholder {
    top: 0.5rem;
    left: 0.5rem;
  }
}
.comment__button {
  width: 100%;
  height: 13vw;
  color: #FFFFFF;
  font-size: 1rem;
  background-color: #323232;
  font-weight: 600;
  border-radius: 0.25rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 20rem) {
  .comment__button {
    width: 12rem;
    height: 2.8rem;
    position: absolute;
    right: 0;
  }
}

.display {
  padding: 0 1rem;
}
@media screen and (min-width: 20rem) {
  .display {
    padding: 0 2.25rem;
  }
}
.display hr {
  border: 0.0063rem solid #E1E1E1;
  margin-bottom: 1rem;
}
.display__article {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
@media screen and (min-width: 20rem) {
  .display__article {
    width: 78%;
    margin: 1.5vw 10vw;
  }
}
.display__avatar {
  background-color: #E1E1E1;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #E1E1E1;
  border-radius: 50%;
  flex: 0 0 auto;
  margin-right: 1rem;
}
@media screen and (min-width: 20rem) {
  .display__avatar {
    width: 3rem;
    height: 3rem;
    margin-top: 0.3rem;
  }
}
.display__container {
  position: relative;
  width: 100%;
}
.display__container h4 {
  display: inline;
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 20rem) {
  .display__container h4 {
    top: 0.3rem;
  }
}
.display__date {
  position: absolute;
  top: 0;
  right: 0;
  color: #AFAFAF;
  font-size: 0.8rem;
}
@media screen and (min-width: 20rem) {
  .display__date {
    top: 0.3rem;
  }
}
.display__content {
  margin: 2rem 0 1rem 0;
  font-size: 0.79rem;
  line-height: 1rem;
}
@media screen and (min-width: 20rem) {
  .display__content {
    font-size: 0.87rem;
    line-height: 1.5rem;
  }
}/*# sourceMappingURL=bio.css.map */