@use "partials/typography";
@use "partials/globals";
@use "partials/variables" as *;
@use "partials/mixins" as *;

.hero {
  background-image: url($hero-background-img);
  background-size: cover;
  background-position:bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  position: relative;
  z-index:1;
  display:flex;
  align-items: center;

  &::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:$bandsite-black;
    opacity:0.5; 
    z-index:-1;
  }

  @include tablet{
    height:100vh;
    margin-bottom: $dek-padding-height;
  }

  h1{
    color:$white;
    padding-left: $mobile-padding-width;
    font-weight:$font-weight-dami;

    @include tablet{
      font-size: 3.8rem;
      padding-left: $dek-padding-width;
    }
  }
}


.bio{
  width:100%;
  margin-top: 1.5rem;
  padding: 0 $mobile-padding-width;

  @include tablet{
    padding: $dek-padding-width;
  }
  
  &__img{
    width: 100%;
    padding: $mobile-padding-width 0;

    @include tablet{
      height:85vh;
      padding:$dek-padding-width 3.7rem;
    }
  }
    
  &__content-wrap{
    @include tablet{
      padding:0 3.7rem;
    }
  }

  h2{
    font-weight: $font-weight-dami;

    @include tablet{
      font-size: 2.3rem;;
      }
    }
  
  &__quote{
    &--content{
    font-weight:$font-weight-dami;
    font-size:0.85rem;
    text-align: justify;
    line-height:1.5rem;

    @include tablet{
      font-size:1.5rem;
      line-height:2rem;
      word-spacing: 0.075rem;
      }
    }
  
    &--from{
      @extend .bio__quote--content;
      padding-top: 0.3rem;

      @include tablet{
        font-size:1rem;
      }
    }
  }
  
  &__intro{
    h5{
      padding-top:$mobile-padding-height;
      padding-bottom:$mobile-padding-between-content;
      font-weight:$font-weight-dami;
      @include tablet{
        font-size:1.5rem;
        padding-top:$dek-padding-height;
        padding-bottom:$dek-padding-between-content;
      }
      }
  
      p{
        font-size:0.84rem;
        margin-bottom: 1rem;
        text-align: left;
        line-height: 1.2rem;

        @include tablet{
          font-size:0.9rem;
          line-height: 1.5rem;
          margin-bottom:0;
        }
      }

        &--wrap{
          @include tablet{
          display:flex;
          gap:2rem;
          text-align:justify;
        }
      }
    }
  }
  
  .photo-gallery{
    background-color:$alabaster;
    padding: $mobile-padding-height $mobile-padding-width;

    @include tablet{
      padding: $dek-padding-height $dek-padding-width;
    }
  
    h2{
      padding-top: $mobile-padding-height;
      font-weight: bold;
      padding-bottom:0.2rem;

      @include tablet{
        font-size: 2.3rem;
        font-weight:$font-weight-dami;
        padding-top: 0;
        }
    }
    img{
      width: 100%;
      padding:0.3rem 0;

      @include tablet{
        width: 28vw;
        padding:0;
      }
    }

    &__wrap{
      @include tablet{
        padding-top: 1rem;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap:1.5rem;
      }
    }
  
  }
  