@use "partials/typography";
@use "partials/globals";
@use "partials/variables" as *;
@use "partials/mixins" as *;

.hero {
  background-image: url($show-hero-background-img);
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  width: 100%;
  height: 84vw;;
  position: relative;
  z-index:1;
  display:flex;
  flex-direction: column;
  align-items: left;
  gap:1rem;

  &::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:$bandsite-black;
    opacity:0.5; 
    z-index:-1;
  }

  @include tablet{
    height:70vw;
    margin-bottom: $tab-padding-height;
  }

  @include desktop{
    height:100vw;
    background-position:top;
  }

  h1{
    color:$white;
    padding-left: $mobile-padding-width;
    font-weight:$font-weight-dami;
    padding-right: 5rem;;

    @include tablet{
      font-size: 3.8rem;
      padding-left: $tab-padding-width;
    }

    @include desktop{
      font-size:6.5rem;
      padding-left:10rem;
    }
  }

  p{
    padding-top: 2rem;
    padding-left: $mobile-padding-width;
    color: $white;
    font-size:0.9rem;
  }

  iframe{
    width:95%;
    height:30vw;
    padding-left: $mobile-padding-width;
  }
}

.show{
  //padding:$mobile-padding-height $mobile-padding-width;
  
  h2{
    font-weight: $font-weight-dami;
    padding-top: $mobile-padding-width;
    margin:$mobile-padding-height $mobile-padding-width;
  }

  &__container{
    padding:0 $mobile-padding-width;
  }

  &__key{
    font-size: 0.65rem;
    color:$silver;
    padding: 0.5rem 0;
    font-weight: $font-weight-dami;
  }

  &__date{
    font-size: 0.9rem;
    font-weight: $font-weight-dami;
    padding-bottom: 0.5rem;
  }

  p{
    font-size: 0.85rem;
    padding-bottom: 0.5rem;
  }

  button{
    @include buttonStyle;
  }

  hr{
    @include separatorStyle;
  }

}
