@use "partials/typography";
@use "partials/globals";
@use "partials/variables" as *;
@use "partials/mixins" as *;

.hero {
  background-image: url($show-hero-background-img);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 84vw;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bandsite-black;
    opacity: 0.5;
    z-index: -1;
  }

  @include tablet {
    height: 64vw;
    margin-bottom: $tab-padding-height;
    background-position: center;
  }

  @include desktop {
    height: 50vw;
    background-position: top;
    background-position-y: -13rem;
  }

  h1 {
    color: $white;
    padding-left: $mobile-padding-width;
    font-weight: $font-weight-dami;
    padding-right: 5rem;

    @include tablet {
      font-size: 3.8rem;
      padding-left: $tab-padding-width;
      padding-right: 20vw;
    }

    @include desktop {
      font-size: 6.5rem;
      padding-left: 10rem;
      width: 70%;
      position: absolute;
      top: 40%;
    }
  }

  p {
    padding-top: 2rem;
    padding-left: $mobile-padding-width;
    color: $white;
    font-size: 0.9rem;

    @include tablet {
      padding-top: 4rem;
      padding-left: $tab-padding-width;
      font-size: 1.5rem;
      font-weight: $font-weight-dami;
    }

    @include desktop {
      padding-left: $dek-padding-width;
      font-size: 2.5rem;
      font-weight: $font-weight-dami;
      position: absolute;
      top: 25%;
    }
  }

  iframe {
    width: 95%;
    height: 30vw;
    padding-left: $mobile-padding-width;

    @include tablet {
      width: 60%;
      height: 12rem;
      padding-left: $tab-padding-width;
      padding-top: 5vw;
    }

    @include desktop {
      width: 30%;
      height: 13rem;
      position: absolute;
      top: 40%;
      left: 60%;
      border-radius: 0.8rem;
      padding: 0;
    }
  }
}

.show {
  //padding:$mobile-padding-height $mobile-padding-width;

  @include tablet {
    padding: $tab-padding-height $tab-padding-width;
    width: 100%;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    padding: $tab-padding-height $dek-padding-width;
  }

  /*   &__key-container {
    @include tablet {
      padding-left: 1rem;
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 20vw;
    }
  } */

  h2 {
    font-weight: $font-weight-dami;
    padding-top: $mobile-padding-width;
    margin: $mobile-padding-height $mobile-padding-width;

    @include desktop {
      font-size: 3rem;
      margin: 0;
      padding: 0;
      margin-top: -2rem;
    }
  }

  &__container {
    padding: 0 $mobile-padding-width;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__key {
    font-size: 0.65rem;
    color: $silver;
    padding: 0.5rem 0;
    font-weight: $font-weight-dami;

    @include desktop {
      font-size: 1rem;
    }
  }

  &__date {
    font-size: 0.9rem;
    font-weight: $font-weight-dami;
    padding-bottom: 0.5rem;

    @include desktop {
      font-size: 1.3rem;
    }
  }

  p {
    font-size: 0.85rem;
    padding-bottom: 0.5rem;

    @include tablet {
      text-align: left;
    }
  }

  button {
    width: 100%;
    height: 13vw;
    color: $white;
    font-size: 1rem;
    background-color: $bandsite-black;
    font-weight: $font-weight-dami;
    border-radius: 0.25rem;
    margin: $mobile-padding-between-content 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 11rem;
      height: 2.5rem;
    }

    @include desktop {
      width: 15rem;
      height: 3.5rem;
      font-size: 1.3rem;
      border-radius: 0.5rem;
    }
  }

  hr {
    @include separatorStyle;
  }

  &__table {
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 0 10vw 0 0;

      @include desktop {
        font-size: 1.3rem;
      }
    }

    td {
      border-bottom: 0.0625rem solid $silver;
    }
  }
}

.show__last-row {
  padding-left: 10vw;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
