@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/AvenirNextLTPro.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "AvenirNextLTPro";
  font-weight: normal;
}

.nav {
  background-color: #323232;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
    padding: 1.5rem 2rem 0 2rem;
    align-content: center;
  }
}
@media screen and (min-width: 80rem) {
  .nav {
    padding: 3rem 10rem 0 10rem;
  }
}
.nav__logo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
}
.nav__logo a h3 {
  padding: 1rem 0 0.5rem 0;
}
@media screen and (min-width: 48rem) {
  .nav__logo a h3 {
    padding: 0 3.5rem 1.2rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .nav__logo a h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
}
.nav__element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
@media screen and (min-width: 48rem) {
  .nav__element {
    gap: 3rem;
  }
}
.nav__element a {
  text-align: center;
  text-decoration: none;
  position: relative;
}
.nav__element a.active h4 {
  color: #ffffff;
  font-weight: 600;
}
.nav__element a:hover h4 {
  color: #ffffff;
}
.nav__element a.active::after, .nav__element a:hover::after {
  content: "";
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 0.125rem;
  background-color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .nav__element a.active::after, .nav__element a:hover::after {
    width: 5rem;
    left: 52%;
    height: 0.2rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__element a.active::after, .nav__element a:hover::after {
    bottom: 0;
    width: 5rem;
    left: 52%;
    height: 0.2rem;
  }
}
.nav__element h4 {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  color: #afafaf;
  /* &.active,
  &:hover {
    color: $white;
    font-weight: $font-weight-dami;
  } */
}
@media screen and (min-width: 48rem) {
  .nav__element h4 {
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 80rem) {
  .nav__element h4 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

.footer {
  width: 100%;
  background-color: #323232;
  padding: 1.5rem 1rem;
  color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding: 3rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding: 3rem 10rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__social {
    display: flex;
    align-items: center;
    gap: 4vw;
  }
}
.footer__social img {
  height: 1.5rem;
}
.footer__social h2 {
  font-weight: 600;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .footer__social h2 {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__social h2 {
    font-size: 2.5rem;
  }
}
.footer__social--icon {
  display: flex;
  gap: 10vw;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .footer__social--icon {
    gap: 5vw;
  }
}
@media screen and (min-width: 80rem) {
  .footer__social--icon {
    gap: 2.2vw;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 80rem) {
  .footer__flex-container {
    justify-content: flex-start;
    gap: 5vw;
  }
}
.footer__subtitle {
  font-size: 0.8rem;
}
.footer__subtitle h4 {
  font-weight: 600;
  padding: 1rem 0;
}
@media screen and (min-width: 48rem) {
  .footer__subtitle h4 {
    font-size: 0.9rem;
    padding: 2.25rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .footer__subtitle h4 {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__subtitle p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__subtitle p {
    font-size: 1rem;
  }
}
.footer__subtitle--email {
  padding: 1rem 0;
}
@media screen and (min-width: 48rem) {
  .footer__subtitle--email {
    font-size: 0.9rem;
    padding: 1.5rem 0 2.25rem 0;
  }
}
.footer__logo {
  font-size: 1.3rem;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 48rem) {
  .footer__logo {
    position: absolute;
    top: 3rem;
    right: 2.25rem;
    padding: 0;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__logo {
    font-size: 1.3rem;
    padding-bottom: 2rem;
    right: 10rem;
  }
}
.footer__copyright {
  font-size: 0.7rem;
}
@media screen and (min-width: 48rem) {
  .footer__copyright {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__copyright {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
}

.hero {
  background-image: url("../../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 18rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: -1;
}
@media screen and (min-width: 48rem) {
  .hero {
    height: 64vw;
    margin-bottom: 3rem;
    background-position: center;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 50vw;
    background-position: center;
    background-position-y: -9rem;
  }
}
.hero h1 {
  color: #ffffff;
  padding-left: 1rem;
  font-weight: 600;
  padding-right: 30%;
}
@media screen and (min-width: 48rem) {
  .hero h1 {
    font-size: 3.8rem;
    padding-left: 2.25rem;
    padding-right: 20vw;
  }
}
@media screen and (min-width: 80rem) {
  .hero h1 {
    font-size: 3.8rem;
    padding-left: 10rem;
    width: 58rem;
    position: absolute;
    top: 40%;
  }
}
.hero p {
  padding-top: 2rem;
  padding-left: 1rem;
  color: #ffffff;
  font-size: 0.9rem;
}
@media screen and (min-width: 48rem) {
  .hero p {
    padding-top: 4rem;
    padding-left: 2.25rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .hero p {
    padding-left: 10rem;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    top: 22%;
  }
}
.hero iframe {
  width: 19rem;
  height: 7rem;
  padding-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .hero iframe {
    width: 28rem;
    height: 12rem;
    padding-left: 2.25rem;
    padding-top: 5vw;
  }
}
@media screen and (min-width: 80rem) {
  .hero iframe {
    width: 29rem;
    height: 9rem;
    position: absolute;
    top: 40%;
    left: 55%;
    border-radius: 0.8rem;
    padding: 0;
  }
}

@media screen and (min-width: 48rem) {
  .show {
    padding: 0 2.25rem 3rem 2.25rem;
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .show {
    padding: 3rem 10rem 2rem 10rem;
  }
}
.show h2 {
  font-weight: 600;
  padding-top: 1rem;
  margin: 1.5rem 1rem;
}
@media screen and (min-width: 48rem) {
  .show h2 {
    font-size: 2.3rem;
    margin: 0;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .show h2 {
    font-size: 2.3rem;
    margin: 0;
    padding: 0;
    margin-top: -2rem;
    display: inline-block;
  }
}
@media screen and (min-width: 80rem) {
  .show__display {
    margin-left: 25%;
    margin-top: -3rem;
  }
}
.show__container {
  padding: 0 1rem;
}
@media screen and (min-width: 48rem) {
  .show__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.show__El-container {
  flex: 1;
}
@media screen and (min-width: 48rem) {
  .show__El:not(:first-child) :hover {
    background-color: #e1e1e1;
    cursor: pointer;
  }
  .show__El:not(:first-child) .show__El-container .show__key {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .show__El:not(:first-child) .show__button {
    flex: none;
  }
  .show__El:not(:first-child) .show__button:hover {
    background-color: #000000;
  }
  .show__El:first-child .show__button {
    margin-top: 3rem;
    margin-bottom: 0.2rem;
  }
  .show__El:first-child .show__date,
  .show__El:first-child p {
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .show__El:not(:first-child) .show__El-container .show__key {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .show__El:not(:first-child) .show__El-container :hover {
    background-color: #e1e1e1;
    cursor: pointer;
  }
}
.show__key {
  font-size: 0.65rem;
  color: #afafaf;
  padding: 0.5rem 0;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .show__key {
    font-size: 0.8rem;
    padding: 2rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .show__key {
    font-size: 0.8rem;
  }
}
.show__date {
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 80rem) {
  .show__date {
    font-size: 1.3rem;
  }
}
.show p {
  font-size: 0.85rem;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .show p {
    text-align: left;
    padding-bottom: 0;
  }
}
.show button {
  width: 100%;
  height: 13vw;
  color: #ffffff;
  font-size: 1rem;
  background-color: #323232;
  font-weight: 600;
  border-radius: 0.25rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show button:hover {
  background-color: #000000;
  cursor: pointer;
}
@media screen and (min-width: 48rem) {
  .show button {
    width: 11rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .show button {
    width: 10rem;
    height: 2.5rem;
  }
}
.show hr {
  border: 1px solid #e1e1e1;
  margin-bottom: 1rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .show hr {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=shows.css.map */